<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amakenapp.website.amakenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Accessing camera hardware -->


    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <service
            android:name="com.amakenapp.website.amakenapp.helper.ChatHeadService"
            android:exported="false"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".search.SearchResult" />

        <activity
            android:name=".search.SearchResult"
            android:label=""
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".search.FiltersActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog">

        </activity>



        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignUpUser"
            android:label="@string/title_activity_sign_up_user"
            android:parentActivityName=".activities.SignUpChooser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.SignUpChooser" />
        </activity>
        <activity
            android:name=".activities.SignUpBusiness"
            android:label="@string/title_activity_sign_up_business"
            android:parentActivityName=".activities.SignUpChooser"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.SignUpChooser" />
        </activity>
        <activity
            android:name=".activities.SignUpChooser"
            android:label="@string/title_activity_sign_up_chooser"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.InvitesActivity"
            android:label="Tell your Friends"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddReview"
            android:label="@string/title_activity_add_review"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NavDrw"
            android:configChanges="orientation"
            android:label="@string/title_activity_nav_drw"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity android:name=".activities.ChooseInterest" />
        <activity android:name=".activities.testimage" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.BusinessProfilePlaces"
            android:label="@string/title_activity_business_profile_places"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BusinessProfileEvents"
            android:label="@string/title_activity_business_profile_events"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.ProfileBookmarks"
            android:label="@string/title_activity_profile_bookmarks"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.ProfileLikes"
            android:label="@string/title_activity_profile_likes"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.ProfileReviews"
            android:label="@string/title_activity_profile_reviews"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.ProfileCategories"
            android:label="@string/title_activity_profile_categories"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.AddPlace"
            android:label="@string/title_activity_add_place"
            android:parentActivityName=".activities.NavDrw"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.AddEvent"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".activities.NavDrw"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.ExpandDetailsMapsActivity"
            android:label="@string/title_activity_expand_details_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.ExpandDetailsMapsActivityEvent"
            android:label="@string/title_activity_expand_details_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".activities.EditPlaceActivity"
            android:label="@string/title_activity_expand_details_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.BusinessProfilePlaces" />
        </activity>
        <activity
            android:name=".activities.EditEventActivity"
            android:label="@string/title_activity_expand_details_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.BusinessProfileEvents" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.welcome" />
        <activity
            android:name=".activities.DiscoverActivity"
            android:label="Discover Places "
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/Theme" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="May I can hep you"
            android:parentActivityName=".activities.NavDrw"
            android:screenOrientation="portrait"
            android:theme="@style/Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.Help.HelpExpandableListItem" />
        </activity>
        <activity
            android:name=".Help.HelpExpandableListItem"
            android:label="Help"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpOverview00"
            android:label="Overview"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.Help.HelpExpandableListItem" />
        </activity>
        <activity
            android:name=".Help.HelpOverview01"
            android:label="Overview"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpOverview02"
            android:label="Overview"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpSigningUp00"
            android:label="Signing Up"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpSigningUp01"
            android:label="Signing Up"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpSigningUp02"
            android:label="Signing Up"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpSigningUp03"
            android:label="Signing Up"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpLegalPrivacy00"
            android:label="Legal and Privacy"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpLegalPrivacy01"
            android:label="Legal and Privacy"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpLegalPrivacy02"
            android:label="Legal and Privacy"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpUsingAmaken00"
            android:label="Using Amaken"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpUsingAmaken01"
            android:label="Using Amaken"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity
            android:name=".Help.HelpUsingAmaken02"
            android:label="Using Amaken"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.Help.HelpExpandableListItem" />
        </activity>
        <activity
            android:name=".Help.HelpUsingAmaken03"
            android:label="Using Amaken"
            android:parentActivityName=".Help.HelpExpandableListItem"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amakenapp.website.amakenapp.activities.NavDrw" />
        </activity>
        <activity android:name=".activities.BusinrssHelp" />
        <activity android:name=".activities.UserDetailsActivity"></activity>

        <activity android:name=".activities.ConnectWithUs"
            android:parentActivityName=".activities.NavDrw"
            android:theme="@style/Theme"
            android:label="back"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>